<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eg.typicaldesign.moaheb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/final_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/final_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.RegisterForPlayer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.SportTypeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.LoginForPlayer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ChooseSportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.SportsContainerActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerVideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.RegisterForSponsor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.LoginForSponsor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerImagesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.UploadImagesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerVideosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.UploadVideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerSportsDataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerGuardianActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.PlayerDocumentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.UploadDocumentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.SponsorSearchActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".controllers.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".controllers.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/home" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".views.PrivacyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.ContactPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>